@model imgcrv.Presentation.Web.Models.Image

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrynimas</h2>

<h3>Ar tikrai norite ištrinti ši paveiksliuką?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Paveiksliukas")
        </dt>

        <dd>
            <img style="max-width: 100%; height: auto;" src="@Url.Content(Model.originalPath)" alt="Image" />
        </dd>

        <dt>
            @Html.Label("Įkėlimo data")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" title="Ištrinti paveikslėlį" class="btn btn-default" />

            <input type="button" value="Grįžti" title="Grįžti į paveikslėlių sarašą" class="btn btn-default"
                   onclick="location.href='/Image'" />
            
        </div>
    }
</div>
