@model imgcrv.Presentation.Web.Models.CarveViewModel

@{
    ViewBag.Title = "Carver";
}

<h4>Raižyti paveikslėlį</h4>
<hr />

@Html.Label("Dabartinis aukštis:", new { @class = "control-label" })
@Html.DisplayFor(m => m.imageHeight)
@Html.Label("Dabartinis plotis:", new { @class = "control-label" })
@Html.DisplayFor(m => m.imageWidth)
<br /><br />



<div class="row">
    <div class="col-md-8">
        <img style="max-width: 100%; height: auto;" src="@Url.Content(Model.displayPath)" alt="Image" />
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Carve", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.Label("Naujas aukštis:", new { @class = "control-label" })            
            <br />
            @Html.TextBoxFor(m => m.imageHeight, new { @class = "form-control" })
            <br />
            @Html.Label("Naujas plotis:", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.imageWidth, new { @class = "form-control" })
            <br />
            <div>
                <input type="submit" name="submitButton" title="Raižyti paveikslėlį į nustatytą dydį" class="btn btn-default form-control" value="Keisti dydį" />
                <input type="button" value="Atstatyti į orig." title="Atstatyti paveikslėlį į originalų dydį" class="btn btn-default form-control"
                       onclick="location.href='@Url.Action( "Reset", "Home", new { id = Model.Id } )'" />
                <input type="button" title="Atsisiųsti paveikslėlį" value="Atsisiųsti" class="btn btn-default form-control"
                       onclick="location.href='@Url.Action("Download", "Image", new { id = Model.Id})'" />
                <input type="button" title="Ištrinti paveikslėlį" value="Ištrinti" class="btn btn-default form-control"
                       onclick="location.href='@Url.Action("Delete","Image", new {id = Model.Id })'"/>
            </div>
        }
    </div>
</div>